<template>
<div>
  <b-navbar toggleable="lg" variant="light">
    <b-navbar-brand href="#">
            <b-col cols="12" md="2" class="text-center">
                    <b-img  rounded="circle" alt="Circle image" width="40" heigth="40"
                    src="https://scontent.fpty1-1.fna.fbcdn.net/v/t1.0-1/p40x40/10609502_10202847856830253_3921103958573439643_n.jpg?_nc_cat=111&_nc_oc=AQlF6lZhuL715dPtUNWuHhRvZpbK44-kTWwXaWh8cztKvdIDJyAj6XqFsmDOEWfXD5I&_nc_ht=scontent.fpty1-1.fna&oh=be13fc38e98bec311f7a41e9f6488d8d&oe=5E657551"
                    ></b-img>
                </b-col>

    </b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav >
            <b-navbar-nav>
                <b-col cols="12" align-self="center" class="d-none d-md-block">
                    <p class="mb-1 font-weight-bold">{{contactName}}</p>
                    <p class="text-mute small mb-2">Activo hace 5 min</p>
                </b-col>
            </b-navbar-nav>

      <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">

                        <b-nav-item href="#">Trasferir</b-nav-item>
                        <b-nav-item href="#" >video</b-nav-item>
                        <b-nav-item href="#" >Info</b-nav-item>
                   
  
            </b-navbar-nav>
        </b-collapse>
    </b-navbar>
    <div >

        <b-container  class=" w-100 " style="height: calc(100vh - 140px)">
            <b-row class="h-100 w-100">
                <b-col cols="9"  class=" h-100 p-1">
                        <div >
                                <b-card no-body 
                                 
                                  header-text-variant="white"
                                  header-tag="header"
                                  header-bg-variant="dark"
                                  footer="Card Footer"
                                  footer-tag="footer"
                                  footer-bg-variant="light"
                                 

                                  class="h-100"
                                  
                                >
                                <b-card-body class="card_style">
                                  <!-- AREA DE CONVERSACION-->
                              
                              
                                      <messageconversation 
                                      v-for="messages in messages"
                                      :key="messages.id"
                                      :receptor="messages.receptor"
                                      :variant="messages.variant"
                                      >
                                      {{messages.content}}
                                      </messageconversation>

                                     



                                </b-card-body>
                                
                                    <div slot="footer"> 
                                        <b-form class="mb-0" @submit.prevent="postMessages" autocomplete="off">
                                          
                                              <!-- Using components -->
                                            <b-input-group >
                                                    <b-form-input
                                                    id="txt_mensaje"
                                                    v-model="newMessage"
                                                    placeholder="Escribe un mensaje.."
                                                    >

                                                    </b-form-input>
                                                    <b-input-group-append>
                                                   
                                                    <b-button type="submit" variant="info">Enviar</b-button>
                                                    </b-input-group-append>
                                            </b-input-group>
                                        </b-form>
                                    
                                    </div>
                                </b-card>
                              </div>
                </b-col >

                <b-col   cols="3"  class=" p-1 h-100" style="height: calc(100vh - 140px)">
                   
                        <b-card-group deck class="h-100 ">
                             
                              
                                <b-card no-body >
                                  <b-list-group flush>
                                    <b-list-group-item  class="text-center">
                                            <b-img rounded="circle" alt="Circle image" width="100" heigth="100"
                                            src="https://picsum.photos/125/125/?image=58"
                                            ></b-img>
                                            <p><h5>{{contactName}}</h5></p>
                                    </b-list-group-item>
                                    <b-list-group-item href="#">
                                        >
                                    </b-list-group-item>
                                    <b-list-group-item href="#">Vestibulum at eros</b-list-group-item>
                                  </b-list-group>
                              
            
                                </b-card>
                              </b-card-group>
                </b-col>
                 
            </b-row>
        </b-container>
  </div>

</div>

</template>
<style >

.card_style {
    max-height : calc(100vh - 70px);
    overflow-y : auto;
}
</style>
<script>
    export default {
      props:
      {
        contactId:Number,
        contactName:String
      },
      data(){

        return{
      
          newMessage:'',
        
        };
      },
        mounted() {
            //this.getMessages();
            
        },
        methods:{
           
            postMessages()
            {
              this.$store.dispatch('postMessages',this.newMessage);
            },
            scrollBotton()
            {
              const el=document.querySelector('.card_style');
              el.scrollTop=el.scrollHeight;
            }
        },
        updated()
        {
          
            this.scrollBotton();
        },
        computed:{
                messages()
                {
                  return this.$store.state.messages;
                }

        }        
        //metodo que envia a objecto padre cambios
        /*watch:{
          contactId(value)
          {
            this.getMessages()
          }
          
        }*/

    }
</script>
