<template>
            <b-list-group-item href="#" :variant="variant">
            <b-row class="p-1" align-h="center">
                <b-col cols="12" md="3" class="text-center">
                    <b-img rounded="circle" alt="Circle image" width="48" heigth="48"
                    src="https://picsum.photos/125/125/?image=58"
                    ></b-img>
                </b-col>
                <b-col cols="6" align-self="center" class="d-none d-md-block">

                    <p class="mb-1">
                    <status_componente :online="conversation.online"/>
                    {{conversation.contact_name}}
                    </p>

                    <p class="text-mute small mb-1">{{conversation.last_message}}</p>
                </b-col>
                <b-col cols="3" align-self="center"  class="d-none d-md-block">
                <p class="text-mute small">{{ lasTime }}</p>
                </b-col>
           </b-row>
            </b-list-group-item>
</template>

<script>
    export default {
        props:{
            variant:String,
            conversations:Object
            }
            ,
        data()
        {
            return{
           
            };
        },
        mounted() {
            //console.log(conversation)
        },
        computed:
        {
            lasTime()
            {
                return moment(this.conversation.last_time , "YYYY-MM-DD hh:mm:ss").locale('es').fromNow();
            },
            conversation()
            {
                return this.conversations;
            }
        }
    }
</script>
