<template>
    <div style="height: calc(100vh - 122px)">
     
                    <b-row class="p-2" align-h="center">
                        <b-col cols="12" md="2" class="text-center">
                            <b-img  rounded="circle" alt="Circle image" width="50" heigth="50"
                            src="https://scontent.fpty1-1.fna.fbcdn.net/v/t1.0-1/p40x40/22449664_10155102058562894_6602919192894793576_n.jpg?_nc_cat=102&_nc_oc=AQmgRXaOST-0efMt60nDHy6DP2EwAlqvW_095ZQzspwUtG8XvQhRkxbumClB4wbfTUQ&_nc_ht=scontent.fpty1-1.fna&oh=17261fc8f5a7f7eb818e51dfd631e9b1&oe=5E4C8E51"
                            ></b-img>
                        </b-col>
                        <b-col cols="5" align-self="center" class="d-none d-md-block">
                            <p ><h3>&nbsp Chats</h3></p>
                            
                        </b-col>
                        <b-col cols="2.5" align-self="center"  class="d-none d-md-block">
                                <b-button type="submit" variant="outline-dark" >setting</b-button>
                                
                        </b-col>
                        <b-col cols="2" align-self="center"  class="d-none d-md-block">
                                <b-button type="submit" variant="outline-dark">edita</b-button>
                        </b-col>
                   </b-row>
              


             <searchcontactlist/>
                <!-- CONVERSATIONS -->
                <b-list-group>


                    <contact_componente v-for="conversation in conversationsFiltered" 
                    :key="conversation.id"
                    @click.native="selectConversation(conversation)"
                    :conversations="conversation"
                    >
                    </contact_componente>
                    
                       
                </b-list-group>
    </div>

</template>

<script>
    export default {

        data()
        {
            return {
                
            }
        },
        mounted() {
            //this.getConversation()
        },
        methods:
        {

          selectConversation(conversation)
            {
                this.$router.push(`/chat/${conversation.id}`,()=>{
                        this.$store.dispatch('getMessages',conversation);
                });
                //
               // this.$emit("selectChangeConversation",conversation);
            }
        },
        computed:{
            selectedConversation()
            {
              return this.$store.state.selectedConversation;  
            },
            conversationsFiltered()
            {
                
                return this.$store.getters.conversationsFiltered;
            }
        }
    }
</script>
