<template>
    <div >
 prueba componente router
    </div>

</template>

<script>
    export default {

        data()
        {
            return {
                
            }
        },
        mounted() {
            //this.getConversation()
        }
    }
</script>
