<template>
    <div>
 <b-container fluid style="height: calc(100vh - 60px)">
    <b-row >
        <b-col cols="3" >


        <contactlist />

        </b-col>
        <b-col cols="9">
    
        <conversationactiva
        v-if="selectConversation"
        :contactId="selectConversation.contact_id"
        :contactName="selectConversation.contact_name"
        v-on:messageCreate="addmessageCreate($event)"
        />
        


        </b-col>
 
    </b-row>
</b-container>
    </div>

</template>

<script>
    export default {
        props:{
            user_id:Number
        },
        data()
        {
            return {
          
 
               querySearch:''
            }
        },
        mounted() {
            this.$store.commit('setUser',this.user_id);
            this.$store.dispatch('getConversation').then(()=>{
            const conversationId=this.$route.params.conversationId;
            if(conversationId)
            {
                const conversation=this.$store.getters.getconversationById(conversationId);
                 this.$store.dispatch('getMessages',conversation);
            }
            });
           
            Echo.private(`users.${this.user_id}`)
                .listen('MessageSent', (data) => {
                    
                    const message=data.message;
                     message.receptor=false
                    this.addmessageCreate(message);

            });

            Echo.join(`messenger`)
            .here((users) => {
                users.forEach((user)=>this.changeStatus(user,true))

            })
            .joining((user) => {
                this.changeStatus(user,true)
            })
            .leaving((user) => {
                this.changeStatus(user,false);
            });


        },
        methods:
        {

 
             

            changeStatus(user,status)
            {
                  const index=this.$store.state.conversations.findIndex((conversation)=>
                {
                    return conversation.contact_id==user.id
                })
                if(index>=0)
                {
                    this.$set(this.$store.state.conversations[index],'online',status);
                }
                
            },
            addmessageCreate(message)
            {
                this.$store.dispatch('addMessage',message);
            }
        },
        computed:{

                 selectConversation()
                 {
                     
                     return this.$store.state.selectedConversation;
                 },
                conversationsFiltradas()
                {
                //return this.conversations.filter((conversation)=>conversation.contact_name.includes(this.querySearch))
                }
            
            
        }
    }
</script>
