<template>
<div>
    <b-media :right-align="receptor" vertical-align="center" class="mb-2">
        <template v-slot:aside>
          <b-img blank blank-color="#ccc" rounded="circle"  width="60" alt="placeholder"></b-img>
        </template>
        
        <b-card class="rounded-pill" :bg-variant="variant">
             <slot></slot>
             </b-card >
      </b-media>

</div>

</template>

<script>
    export default {
      props: {'receptor':Boolean,
              'variant':''
    },
        data()
        {
          return{
            content:'abc'

          };

        },

        mounted() {
          //  console.log('valor de receptor.',this.receptor)
        }
    }
</script>
